<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
            <outboundRules>
				<rule name="Hide Server Header">
				  <match serverVariable="RESPONSE_Server" pattern=".+" />
				  <action type="Rewrite" value="n/a" />
				</rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
