<!-- Modal - Confirm-->
<div id="modal-confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title text-light">Confirm</h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal"><i class="far fa-times-circle"></i> Cancel</button>
        <button id="modal-button-confirm" type="button" class="btn btn-warning text-light"><i class="far fa-check-circle"></i>
          Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Error-->
<div id="modal-error" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-light">Error</h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal"><i class="far fa-times-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Success-->
<div id="modal-success" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light">Success</h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal"><i class="far fa-times-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Information-->
<div id="modal-information" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-light">Info</h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal"><i class="far fa-times-circle"></i> Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Exception-->
<div id="modal-exception" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light">Exception</h5>
        <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-neutral" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
